/************************************************************
	HEADER STYLINGS (ALL PAGES)
*************************************************************/
/*
	Main element
	Display: flex for centering elements
 */
header.page {
	background: var(--main-color); /* Set in main.css */
	color: var(--font-color-secondary); /* Set in main.css */
	display: flex;
	height: 3em;
}

/*
	Set all direct children elements inside header to flex and center.
 */
header.page > * {
	display: flex;
	flex: 1; /* Fill space available for each evenly, regardless of content */
	align-items: center; /* Vertical center */
	overflow: auto;
}

/*
	Set left and right side of header to sides, out of the way
 */
header.page .left { justify-content: flex-start; }
header.page .right { justify-content: flex-end; }

header.page .left,
header.page .right {
	overflow: hidden;
}

header.page .center {
	min-width: min-content;
}

/*
	Default font here a bit heavy, drop font-weight a bit
 */
header.page h1.page-title {
	font-weight: lighter;
}

/************************************************************
	FOOTER STYLINGS (ALL PAGES)
*************************************************************/
footer.page {
	display: flex;
	flex-shrink: 0;
	width: 100%;
	height: 2em;

	background: var(--main-color);
	color: var(--font-color-secondary);

	justify-content: space-between;
	align-items: center;
}
