@CHARSET "UTF-8";

:root {
    --closed: hsla(0,0%,100%,.6);
}
.main-body-container {
    /*justify-content: space-evenly;*/
}

.restaurant-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-around;
}

.restaurant-list .restaurant {
    min-width: 15rem;
    margin: .5rem;
}
.restaurant-list .restaurant.open {
    box-shadow: 0 0.3rem 0.3rem 0.1rem var(--text-dark);
}
.restaurant-list .restaurant.closed {
    background-color: var(--closed);
}

.restaurant .name {
    text-align: center;
}

.restaurant .lunch-time,
.restaurant .other-info {
    display: flex;
    flex-direction: row;
	justify-content: space-between;
	align-items: center;
}