@CHARSET "UTF-8";
/**
 * Set margin top on all elements, except first child
 * See: https://alistapart.com/article/axiomatic-css-and-lobotomized-owls
 */
* {
	margin: 0;
	padding: 0;
}
* + * {
	margin-top: 1.25rem;
}
.compact * + * {
	margin-top: 0.65rem;
}
.margins-off > * {
	margin-top: 0;
}

/**
 * Colors, and other variables used on the site;
 */
:root {
	--main-color: purple;
	--secondary-color: steelblue;
	--font-color: black;
	--font-color-secondary: white;
	--site-bg-color: white;
}

html {
	height: 100vh;
}

body {
	background-color: var(--site-bg-color);
	min-height: 100%; /* 100% of html's 100vh */
}

/**
	For keyboard users, we use javascript to detect and add .keyboard-user class to body
 */
body:not(.keyboard-user) button:focus,
body:not(.keyboard-user) input:focus,
body:not(.keyboard-user) select:focus,
body:not(.keyboard-user) textarea:focus {
	outline: none;
}

/**
 * Centering material icons a bit, they look a bit off without.
*/
.material-icons {
	vertical-align: middle;
	color: steelblue;
}

/* A better looking default horizontal rule */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #380073;
	margin: 1rem 0;
	padding: 0;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
	Fixes problem with possible PHP debug printing going beyond HTML-width,
	which just looks ugly. Mostly for mobile devices.
 */
pre {
	white-space: pre-wrap; /* Wraps at spaces if line too long. */
	word-wrap: break-word; /* Should break when one word too long. */
	overflow: auto; /* Should add a scroll bar, doesn't seem to do anything. */
}

/************************************************************
	ACTUAL STYLINGS (ALL PAGES) AND NOT JUST RANDOM STUFF
*************************************************************/
body.grid {
	display: flex;
	flex-direction: column;
}

body.grid .main-body-container {
	flex: 1 0 auto;
	max-width: 50rem;
	min-width: 20rem;
	margin: auto;
}
