/****************************************************************************
	Restaurant info layout (name times and location)
*****************************************************************************/
.restaurant-info {
    display: grid;
    grid:	'header header' auto
			'times info' auto
			/ 2fr 1fr;
}

.restaurant-info .name {
    grid-area: header;
    justify-self: center;
    align-self: center;
}

.restaurant-info .times {
    grid-area: times;
}

.restaurant-info .more-info {
    grid-area: info;
}

.restaurant-info .more-info .svg-icon {
    margin-right: .5rem;
}

/****************************************************************************
	Restaurant info > opening hours list layout stuff
*****************************************************************************/
.opening-hours-list {
    list-style: none;
}

.opening-hours-list li {
    display: grid;
    grid: 'day hours' auto / 4rem auto;
    margin: .5rem;
}

.opening-hours-list .day-name {
    grid-area: day;
}
.opening-hours-list .times {
    grid-area: hours;
    justify-self: start;
}

.opening-hours-list .today {
    font-weight: bold;
}

/****************************************************************************
	Menu header layout (buttons and current day header)
*****************************************************************************/
.menu-header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "prev head next";
}

.menu-header .previous {
    grid-area: prev;
}

.menu-header .current-day {
    grid-area: head;
    justify-self: center;
    align-self: center;
}

.menu-header .next {
    grid-area: next;
}

/****************************************************************************
	Menu header styling
*****************************************************************************/
.menu-header button {
    width: auto;
    min-width: 5rem;
}

/****************************************************************************
	Menu listing
*****************************************************************************/
.menu-list {
    list-style: none;
}

.menu-list .food {
    margin-left: 1rem;
}

.menu-list .food .food-components {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.menu-list .food .food-components .price {
    font-size: 90%;
    font-style: italic;
}