/************************************************************
	MENU STYLINGS
*************************************************************/

/* Centering the text, changes colours, and full-width */
.button.return {
	display: flex;
	justify-content: center;
	width: 100%;

	background: var(--primary-light);
	color: var(--primary-text);
	border-color: var(--primary);
}
