/************************************************************
	SETTINGS STYLINGS
*************************************************************/

.main-body-container {
	max-width: 30rem; /* With default max-width takes too much space */
}

label {
	padding: 1rem;
	background-color: var(--input-bg);
	border-radius: var(--border-radius);
}
